@import "default";
@import "fonts";
@import "header";
@import "index";
@import "contacts";

body {
  background: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.padding-section {
  padding-left: 20px;
  padding-right: 20px;
  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-section {
  background: #000;
  color: #dadada;
  padding: 30px 20px;

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    color: #fff;
    &:after {
      content: ".";
      color: #f8c91c;
      font-size: 40px;
      margin-left: 3px;
    }
  }
  .header-section-text {
    margin-top: 20px;
    min-height: 90px;
    line-height: 30px;
    p + p {
      margin-top: 10px;
    }
    a {
      color: #e0bf5c;
    }
  }
}

.research-blurbs {
  line-height: 1.8em;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
  .column {
    padding-right: 40px;
  }
  &.bigger-headers {
    .research-blurb-header {
      font-size: 1.5em;
      text-align: left;
      min-height: 2em;
    }
    .research-blurb-text {
      text-align: left;
    }
  }
}
.research-blurb-header {
  min-height: 4em;
  text-align: center;
}

.research-blurb-text {
  text-align: justify;
}

.people-main-image {
  width: 180px;
  min-width: 180px;
  img {
    min-width: 180px;
  }
}

.people-main-text {
  margin-left: 50px;
  line-height: 30px;
  a {
    color: #2a2a2a;
    opacity: 0.5;
    text-decoration: underline;
    &:hover {
      opacity: 1;
    }
    margin-right: 10px;
  }
  p + p {
    margin-top: 20px;
  }
}
.people-other-text {
  line-height: 30px;
}
